<div class="container p-3">
  <div class="row justify-content-between mb-3">
    <h1 class="col-2">Orders</h1>
    <button class="col-2 btn btn-primary fw-bold" (click)="newOrder()">Create new Order</button>
  </div>
  <div class="card">
    <div class="card-body row">
      <div class="col-12">
        <input class="form-control" type="text" placeholder="Search by customer name or email...">
      </div>
      <table class="table">
        <thead>
        <tr>
          <th scope="col" class="text-center">Código de orden</th>
          <th scope="col" class="text-center">Cliente</th>
          <th scope="col" class="text-center">Email</th>
          <th scope="col" class="text-center">Productos</th>
          <th scope="col" class="text-center">Fecha de compras</th>
          <th scope="col" class="text-center">Total</th>
        </tr>
        </thead>
        <tbody>
          @for (order of orders;track $index){
            <tr>
              <th scope="row">{{order.orderCode}}</th>
              <td>{{order.customerName}}</td>
              <td>{{order.email}}</td>
              <td>{{order.products.length}} items</td>
              <td>{{order.timestamp | date:"dd-MM-yyyy"}}</td>
              <td>{{order.total}}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>>
